Repository CrossNox/7574-TP3: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycln, pylint, black, flake8, isort, mypy

pycln:
  name: pycln
  entry: poetry run pycln lazarus tests
  language: system

pylint:
  name: pylint
  entry: poetry run pylint lazarus tests
  language: system

black:
  name: black
  entry: poetry run black lazarus tests
  language: system

flake8:
  name: flake8
  entry: poetry run flake8 lazarus tests
  language: system

isort:
  name: isort
  entry: poetry run isort lazarus tests
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

add pika as dependency
  poetry.lock
  pyproject.toml
Due: none

add sidecars
  CHANGELOG.md
  lazarus/constants.py
  lazarus/sidecar.py
  pyproject.toml
Due: pycln, pylint, black, flake8, isort, mypy

sidecars
  lazarus/sidecar.py
Due: pycln, pylint, black, flake8, isort, mypy

add docker dependency
  poetry.lock
  pyproject.toml
Due: none

agrego secciones base
  informe/informe.tex
Due: none

cambios informe
  informe/informe.pdf
  informe/informe.tex
Due: none

agrego scripts de experimentos
  rabbit/test_dex/cons_dex.py
  rabbit/test_dex/prod_dex.py
  rabbit/test_workers/cons_wrk.py
  rabbit/test_workers/prod_wrk.py
Due: pycln, pylint, black, flake8, isort, mypy

notita
  informe/informe.pdf
  informe/informe.tex
Due: none

wrap up sidecars and monitors
  CHANGELOG.md
  lazarus/constants.py
  lazarus/sidecar.py
  pyproject.toml
Due: pycln, pylint, black, flake8, isort, mypy

fix versoin
  pyproject.toml
Due: none

fixes
  lazarus/sidecar.py
Due: pycln, pylint, black, flake8, isort, mypy

add simple rabbitmq container to docker compse
  docker/docker-compose.yaml
Due: none

add port
  docker/docker-compose.yaml
Due: none

add missing authors
  pyproject.toml
Due: none

missing deps
  poetry.lock
  pyproject.toml
Due: none

RFC: Sidecars (#3)
  CHANGELOG.md
  lazarus/constants.py
  lazarus/sidecar.py
  pyproject.toml
Due: pycln, pylint, black, flake8, isort, mypy

RFC: Add rabbit to docker compose (#12)
  docker/docker-compose.yaml
Due: none

virgilius entrypoint
  pyproject.toml
Due: none

client - initial
  lazarus/client/cli.py
  test_consume.py
Due: pycln, pylint, black, flake8, isort, mypy

Add zmq and pyzmq to the project
  poetry.lock
  pyproject.toml
Due: none

fixes
  lazarus/sidecar.py
  poetry.lock
  pyproject.toml
  scripts/leader.py
  scripts/node.py
Due: pycln, pylint, black, flake8, isort, mypy

fixes
  lazarus/constants.py
  lazarus/sidecar.py
  pyproject.toml
  scripts/leader.py
Due: pycln, pylint, black, flake8, isort, mypy

bump
  CHANGELOG.md
  pyproject.toml
Due: none

docker utils
  .gitignore
  CHANGELOG.md
  lazarus/constants.py
  lazarus/docker_utils.py
  pyproject.toml
  sample_settings.ini
Due: pycln, pylint, black, flake8, isort, mypy

ignore ini
  .gitignore
Due: none

initial storage api
  lazarus/storage/base.py
  lazarus/storage/local.py
Due: pycln, pylint, black, flake8, isort, mypy

argparse
  scripts/leader.py
  scripts/node.py
Due: pycln, pylint, black, flake8, isort, mypy

rename log
  lazarus/sidecar.py
Due: pycln, pylint, black, flake8, isort, mypy

RFC: sidecars fixes (#16)
  CHANGELOG.md
  lazarus/constants.py
  lazarus/sidecar.py
  poetry.lock
  pyproject.toml
  scripts/leader.py
  scripts/node.py
Due: pycln, pylint, black, flake8, isort, mypy

some tests
  lazarus/storage/local.py
  tests/test_storage.py
Due: pycln, pylint, black, flake8, isort, mypy

test
  tests/test_storage.py
Due: pycln, pylint, black, flake8, isort

tests
  lazarus/storage/local.py
  tests/test_storage.py
Due: pycln, pylint, black, flake8, isort, mypy

add test stepping on
  tests/test_storage.py
Due: pycln, pylint, black, flake8, isort

Update lazarus/storage/base.py
  lazarus/storage/base.py
Due: pycln, pylint, black, flake8, isort, mypy

fix
  lazarus/storage/base.py
Due: pycln, pylint, black, flake8, isort, mypy

changes
  lazarus/exceptions.py
  lazarus/storage/base.py
  lazarus/storage/local.py
Due: pycln, pylint, black, flake8, isort, mypy

RFC: Storage API (#18)
  CHANGELOG.md
  lazarus/exceptions.py
  lazarus/storage/base.py
  lazarus/storage/local.py
  pyproject.toml
  tests/test_storage.py
Due: pycln, pylint, black, flake8, isort, mypy

docker utils (#17)
  CHANGELOG.md
  lazarus/constants.py
  lazarus/docker_utils.py
  pyproject.toml
  sample_settings.ini
Due: pycln, pylint, black, flake8, isort, mypy

eos
  lazarus/client/cli.py
  lazarus/constants.py
Due: pycln, pylint, black, flake8, isort, mypy

Path conditions:
  pycln: any of: \.py$
  pylint: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: tests/*
